<!DOCTYPE html>
<html lang="en">

<head>
   {{>toplinks}}
</head>

<body>

   {{>nav}}


    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/person.png" class="img-fluid" title="Vasim Davada" alt="person">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to weather app</p>
                        <h1>I Am A <span>MERN Stack Developer</span> Youtube And A Freelancer</h1>
                        <a href="/weather"><button>About Me</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>



{{>footer}}


   {{>bottomlinks}}
</body>

</html>